/* Обнуляющий стиль */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 150%;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
}
html, body{
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    font-size: 24px;
    color: rgb(19, 67, 172);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 93, 99);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
    padding: 40px 0 ;
    flex: 0 1 800px;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(255, 255, 255, 0.918);
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px  rgb(48, 48, 48);
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(46, 46, 46);
}
.row {
    margin-bottom: 40px;
    position: relative;
}
.row > label{
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 20px;
   text-transform: capitalize;
   z-index: 1;
   color: rgb(85, 84, 84);
   transition: 0.4s;
}
.row > input { 
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding: 0 10px;
    color: black;
    position: relative;
    z-index: 2;
    background-color: transparent;
   
}
.row > input[type="submit"]{
    background: rgb(27, 74, 128);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    
}
input:focus {
    border-bottom: 1px solid black;
}
input:focus ~ label, .reg_input:not(:placeholder-shown) ~ label{ 
    font-size: 10px;
    top: -10px;
    color: #ccc;
}